<!DOCTYPE html>
<html>
  <head>
    <title>Entrar</title>
    <link href="/css/base.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://www.parsecdn.com/js/parse-1.2.18.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  </head>
  <body>
    <!-- Facebook SDK -->
    <script>
      Parse.initialize("XXX", "ZZZ");

      window.fbAsyncInit = function() {
        Parse.FacebookUtils.init({
          appId      : 'FACEBOOK_APP_ID', // Facebook App ID
          cookie     : true, // To allow Parse to access the session
          xfbml      : true, // Parse XFBML
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/all.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <div id="fb-root"></div>

    <% include components/navbar %>

    <div class="container">
      <div class="login-form panel panel-default">
        <div class="panel-body">
          <form method="post" action="/login">
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                name="username"
                placeholder="E-mail">
            </div>
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                name="password"
                placeholder="Senha">
            </div>
            <input
              type="submit"
              class="btn btn-primary form-control"
              value="Entrar">
          </form>
        </div>
        <div class="panel-footer">
          <a id="fblogin" href="#" class="btn btn-block btn-primary">
            Entrar com Facebook
          </a>
          <a href="/signup" class="btn btn-block btn-warning">Cadastrar</a>
        </div>
      </div>
    </div>

    <!-- Log In With Facebook -->
    <script>
      $('#fblogin').click(function() {
        Parse.FacebookUtils.logIn("email", {
          success: function(user) {
            // If it's a new user, fetch more data through GraphAPI
            if (!user.existed()) {
              FB.api('/me?fields=name,email', function(response) {
                user.set('name', response.name);
                user.set('email', response.email);
                user.save();
              });
            }

            // Authenticate on server-side
            $.post(
              '/login-facebook',
              {token: user.getSessionToken()},
              function(data, status) { window.location = "/"; }
            );
          }
        });
        return false;
      });
    </script>
  </body>
</html>
