<!DOCTYPE html>
<html>
  <head>
    <title>Entrar</title>
  </head>
  <body>
    <form method="post" action="/login">
      <input name="username" placeholder="Nome de Usuário" type="text">
      <input name="password" placeholder="Senha" type="password">
      <br />
      <input type="submit" value="Entrar">
      <a href="/signup">Cadastrar</a>
    </form>
  </body>
</html>
