<!DOCTYPE html>
<html>
  <head>
    <title>CompreFacil.com</title>
    <link href="/css/base.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  </head>
  <body>
    <% include components/navbar %>

    <p>Valor total: <%= 'R$' + total %></p>
    <p>Selecione o método de pagamento:</p>
    <form method="post" action="<%= '/cart/' + cart_id + '/buy' %>">
      <input type="radio" name="method" value="CARTAO">
      Cartão
      <br />
      <br />
      <input type="radio" name="method" value="BOLETO">
      Boleto
      <br />
      <br />
      <input type="submit" value="Comprar">
    </form>
  </body>
</html>
