<!DOCTYPE html>
<html>
  <head>
    <title>CompreFacil.com</title>
    <link href="/css/base.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <% include components/navbar %>

    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <div class="panel panel-info">
            <div class="panel-heading text-center">
              Selecione o Método de Pagamento
            </div>
            <div class="panel-body text-center">
              <strong>Valor Total:</strong> R$<%= total %>
            </div>
            <div class="panel-footer text-center">
              <form method="post" action="<%= '/cart/' + cart_id + '/buy' %>">
                <input type="hidden" name="_csrf" value="<%= csrf_token %>">
                <input type="radio" name="method" value="Boleto">
                  Boleto
                <br />
                <br />
                <input type="radio" name="method" value="Crédito">
                  Crédito
                <br />
                <br />
                <input type="radio" name="method" value="Débito">
                  Débito
                <br />
                <br />
                <input type="submit" class="btn btn-success btn-block" value="Comprar">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
