<!DOCTYPE html>
<html>
  <head>
    <title>CompreFacil.com</title>
    <link href="/css/base.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  </head>
  <body>
    <% include navbar %>

    <p>Olá, <%= user.get('name') %>!</p>
    <% if (pending_cart) { %>
      <p>
        Você tem um carrinho pendente!
        <a href="<%= '/cart/' + pending_cart.id %>">Ver Carrinho</a>
      </p>
    <% } %>
    <p>Produtos disponíveis:</p>
    <form method="post" action="/cart/create">
      <ul>
        <% products.forEach(function(product) { %>
          <li>
            <%= product.get('name') + ' - R$' + product.get('price') %>
            <input name="products[]" type="hidden" value="<%= product.id %>">
            <input name="quantities[]" type="number" min="0" max="99" value="0">
          </li>
        <% }); %>
      </ul>
      <input type="submit" value="Comprar">
    </form>
  </body>
</html>
