<!DOCTYPE html>
<html>
  <head>
    <title>Cadastrar</title>
  </head>
  <body>
    <form method="post" action="/signup">
      <input name="firstname" placeholder="Nome" type="text">
      <br />
      <input name="lastname" placeholder="Sobrenome" type="text">
      <br />
      <input name="username" placeholder="Nome de Usuário" type="text">
      <br />
      <input name="password" placeholder="Senha" type="password">
      <br />
      <input type="submit" value="Cadastrar">
    </form>
  </body>
</html>
