<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">CompreFacil.com</a>
    </div>
    <% if (Parse.User.current()) { %>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <form method="post" action="/logout">
          <input type="hidden" name="_csrf" value="<%= csrf_token %>">
          <input
            type="submit"
            class="btn btn-link navbar-btn navbar-link"
            value="Sair">
          </form>
        </li>
      </ul>
    <% } %>
  </div>
</div>
